export(
       dataFramePalette,
       divideImage,
       imageEntropy,
       imageSummaries,
       imageToDataFrame,
       imageToIntensity,
       imageToRgb,
       medianHsv,
       medianRgb,
       paletteToR,
       plotColourCloud,
       plotImageScatter,
       plotIntensityHistogram,
       plotPalettes,
       plotRgbHistogram,
       rangeHsv,
       rangeRgb,
       rgbImageHist,
       rgbToHsv,
       sdHsv,
       sdRgb,
       sortPalettes,
       summaryHsv,
       summaryRgb
       )
